  
        button{
            height: 50px;
            width: 50px;
            margin-right: 10px;
        }
        button:hover{
            scale: 1.04;
        }
        .ry{
            height: 40px;
            width: 70px;
        }
        h1{
            font-size: 70px;
            color: black;
            text-decoration: underline; 
            text-decoration-style: dashed; 
            text-underline-offset: 10px;
            text-shadow: 0px 0px 50px gold ;
            margin-bottom: 70px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h3{
            text-decoration: underline; 
            text-decoration-style: wavy; 
            text-underline-offset: 5px;
            font-size: 20px;
            font-style: oblique;
        }
        h2{
            border-style: solid;
            border-width: 5px;
            border-color: goldenrod;
            width: 450px;
            min-height: 500px;            
            text-align: left;
            padding: 10px;
            height: fit-content;
        }
        .rod{
            background-color: black;
            color: goldenrod;
            width: 60px;
            height: 30px;
            margin-right: 30px;
            border-style: solid;
            border-color: goldenrod;
            box-shadow: 3px 2px 5px gold;
        }
        .left{
            border-style: solid;
            border-color: goldenrod;
            border-radius: 15px;
            border-width: 10px;
            border-style: double;
            width: 300px;
            padding: 20px;
            margin-top: 22px;
            height: 380px;
        }
        .rt{
            display: grid;
            grid-template-columns:80px 80px 80px;
            gap: 7px;
            padding-left: 20px;
            padding-top: 10px;
        }
        .yy:hover{
            box-shadow: 0px 0px 10px white;
        }
        .left:hover{
            box-shadow: 0px 0px 20px white;
        }
        h2:hover{
            box-shadow: 0px 0px 20px white;
        }
        h1:hover{
            color: goldenrod;
        }
        .submain{
            padding-top: 20px;
            display: flex;
            gap: 28px;
           
            justify-content: space-around;
            align-items: flex-start;
        }
        .xy{
            background-color: black;
            color: gold;
            border-color: azure;
            width: 190px;
            height: 30px;
            font-size: 15px;
        }
        label{
            font-size: 20px;
        }

        .leftup{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .Arial{
            font-family: Arial !important;
        }
        .Copperplate {
            font-family: "Copperplate", "Papyrus" !important;
        }
        .Times{
            font-family: 'Times New Roman', Times, serif !important;
        }
        .Georgia{
            font-family: Georgia !important;
        }
        .Courier{
            font-family: 'Courier New', Courier, monospace !important;
        }
        .Verdana{
            font-family: Verdana, Tahoma, sans-serif !important;
        }
        .Tahoma{
            font-family: Tahoma !important;
        }
        .Trebuchet{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        }
        .Impact{
            font-family: Impact !important;
        }
        .Comic{
            font-family: Comic !important;
        }
